# Sección 3 - Operaciones con Numpy

Durante esta sección vamos a conocer las diferentes operaciones que tenemos disponibles en Numpy. Una vez conocido en profundidad el tipo array, ahora vamos a conocer el amplio abanico de operaciones que tenemos disponibles en la librería. Hablaremos de la manipulación y procesamiento de datos, así como de funciones lógicas, matemáticas o estadísticas.

In [1]:
import numpy as np

## Leccion 1 - Rutinas de creación de arrays

Hasta ahora hemos visto como crear arrays haciendo uso del contructor **ndarray**, pero numpy nos proporciona una serie de rutinas para facilitarnos dicha creación. Veamos algunas de ellas.

### Unos y ceros

In [3]:
# Eye - Devuelve una matriz 2-D con unos en la diagonal y ceros en el resto

np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

Posee un parámetro *k* para poder desplazar la diagonal principal.

In [8]:
np.eye(4, k=1)

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.]])

In [9]:
# identity - Devuelve un array identidad
np.identity(4, dtype = 'int8')

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]], dtype=int8)

In [13]:
# ones - Devuelve un array de unos. Podemos definir su dimension
np.ones(shape=(2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [14]:
# zeros - Devuelve un array de zeros. Podemos definir su dimension
np.zeros(shape=(2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [15]:
# full - Devuelve una nueva matriz de forma y tipo dados, rellena con fill_value.
np.full(shape=(4,4), fill_value=99)

array([[99, 99, 99, 99],
       [99, 99, 99, 99],
       [99, 99, 99, 99],
       [99, 99, 99, 99]])

In [16]:
np.full(shape=(4,4), fill_value=[10,20,30,40])

array([[10, 20, 30, 40],
       [10, 20, 30, 40],
       [10, 20, 30, 40],
       [10, 20, 30, 40]])

### Creación desde datos existentes

In [19]:
# fromstring - Una nueva matriz 1-D inicializada a partir de datos de texto en una cadena.
np.fromstring('1 2 3 4' , sep = ' ')

array([1., 2., 3., 4.])

In [23]:
datos = np.loadtxt('./Leccion 1 - Rutinas de creación de arrays/datos.txt', delimiter=' ', )
datos

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.],
       [ 9., 10., 11., 12.]])

### Rangos numéricos

In [24]:
# arange - Devuelve un array de los valores existentes en un invervalo definido. Podemos 
# configurar el tamaño del paso
np.arange(1, 10, 2)

array([1, 3, 5, 7, 9])

In [25]:
np.arange(10, 1, -2)

array([10,  8,  6,  4,  2])

In [31]:
# linspace - Devuelve un número de valores entre un intervalo
np.linspace(start=1, stop=10, num = 5, endpoint=False, retstep=True)

(array([1. , 2.8, 4.6, 6.4, 8.2]), 1.8)

In [36]:
np.linspace(start=2, stop= 3.5, num = 10)

array([2.        , 2.16666667, 2.33333333, 2.5       , 2.66666667,
       2.83333333, 3.        , 3.16666667, 3.33333333, 3.5       ])

In [35]:
# logspace - Igual, pero aplicando una escala logaritmica
np.logspace(start=2, stop= 3.5, num = 10)

array([ 100.        ,  146.77992676,  215.443469  ,  316.22776602,
        464.15888336,  681.29206906, 1000.        , 1467.79926762,
       2154.43469003, 3162.27766017])

- 10 ** 2 = 100
- 10 ** 2.166667 = 146.779
- 10 ** 2.333333 = 215.443

Y así sucesivamente

### Creación de matrices

In [39]:
# diag - Extrae la diagonal de una matriz o array de dos dimensiones

a = np.eye(N = 4)
a

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [40]:
np.diag(a)

array([1., 1., 1., 1.])

In [41]:
np.diag(a, k = 1)

array([0., 0., 0.])

In [42]:
# diagflat - Crea una matriz bidimensional con la entrada usada como diagonal.
np.diagflat(v = [1,2,3,4], k = 0)

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [43]:
np.diagflat(v = [1,2,3,4], k = -1)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

In [45]:
# tri - Una matriz con unos en la diagonal y debajo de ella, y ceros en cualquier otro lugar.
np.tri(N = 5, M = 5)

array([[1., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1.]])

In [46]:
# asmatrix - Crea un tipo matrix a partir de un array

a = np.array([[1,2,3,4], [4,3,2,1]])
np.asmatrix(a)

matrix([[1, 2, 3, 4],
        [4, 3, 2, 1]])

## Leccion 2 - Manipulación de arrays

### Dimensiones del array

In [63]:
# shape - Recuperas la dimension
a = np.array([[1,2,3,4], [4,3,2,1]])
a.shape

(2, 4)

In [64]:
a

array([[1, 2, 3, 4],
       [4, 3, 2, 1]])

In [65]:
# reshape - Modificar la dimension
a.reshape((4,2))

array([[1, 2],
       [3, 4],
       [4, 3],
       [2, 1]])

In [66]:
# ravel - Aplana un array de más de 1D
a.ravel()

array([1, 2, 3, 4, 4, 3, 2, 1])

In [67]:
# T - Transpone filas y columnas
a

array([[1, 2, 3, 4],
       [4, 3, 2, 1]])

In [68]:
a.T

array([[1, 4],
       [2, 3],
       [3, 2],
       [4, 1]])

### Tipos de arrays

In [69]:
# asarray - Convierte una lista python en numpy array
np.asarray([1,2,3,4], dtype = np.int8)

array([1, 2, 3, 4], dtype=int8)

In [75]:
# asfarray - Igual, pero devuelve el array de tipo float
np.asfarray([1,2,3,4])

array([1., 2., 3., 4.])

In [77]:
np.asfarray([1,2,3,4], dtype = np.int8)

array([1., 2., 3., 4.])

In [80]:
# asarray_chkfinite - Convierte la entrada en un array, verificando NaN o Infs.

a = [1,2,3,4, np.nan]
np.asarray_chkfinite(a)

ValueError: array must not contain infs or NaNs

In [113]:
# repeat - Genera un array de números iguales
a = np.repeat(a = 99, repeats=10)
a

array([99, 99, 99, 99, 99, 99, 99, 99, 99, 99])

In [114]:
a.reshape((2,5))

array([[99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99]])

### Union de arrays

In [89]:
# concatenate - Une un conjunto de arrays por filas o columnas

a = np.array([[1,2,3,4], [1,2,3,4]])
b = np.array([[4,3,2,1]])

print(a.shape)
print(b.shape)

(2, 4)
(1, 4)

In [90]:
np.concatenate((a,b), axis = 0)

array([[1, 2, 3, 4],
       [1, 2, 3, 4],
       [4, 3, 2, 1]])

In [95]:
np.concatenate((a.T, b.T), axis=1)

array([[1, 1, 4],
       [2, 2, 3],
       [3, 3, 2],
       [4, 4, 1]])

In [100]:
# stack - Parecido a join, pero genera un nuevo indice
a = np.array([1,2,3,4])
b = np.array([4,3,2,1])

np.stack(arrays=(a,b), axis = 1)

array([[1, 4],
       [2, 3],
       [3, 2],
       [4, 1]])

In [101]:
np.stack(arrays=(a,b), axis = 0)

array([[1, 2, 3, 4],
       [4, 3, 2, 1]])

### Division de arrays

In [105]:
# split - Divide un array en varios 
a = np.arange(0, 20)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [106]:
np.split(a, indices_or_sections=4)

[array([0, 1, 2, 3, 4]),
 array([5, 6, 7, 8, 9]),
 array([10, 11, 12, 13, 14]),
 array([15, 16, 17, 18, 19])]

In [109]:
np.split(a, [3, 5, 10, 16])

[array([0, 1, 2]),
 array([3, 4]),
 array([5, 6, 7, 8, 9]),
 array([10, 11, 12, 13, 14, 15]),
 array([16, 17, 18, 19])]

### Añadir y eliminar elementos

In [ ]:
# insert - Inserta elementos en una posicion del array

In [115]:
a = np.array([1,2,3,4])
a

array([1, 2, 3, 4])

In [121]:
np.insert(a, obj=4, values=[5,6])

array([1, 2, 3, 4, 5, 6])

In [120]:
np.insert(a, obj=1, values=[5,6])

array([1, 5, 6, 2, 3, 4])

In [124]:
# append - Inserta elementos al final del array
np.append(a, [5,6])

array([1, 2, 3, 4, 5, 6])

In [127]:
# delete - Elimina un elemento del array
np.delete(a, obj = 3)

array([1, 2, 3])

In [128]:
# trim_zeros - Elimina los 0s al inicio y el final del array
a = np.array([0, 0, 0, 0, 1, 2, 3, 4, 0, 0])
np.trim_zeros(a)

array([1, 2, 3, 4])

In [130]:
# unique - Deja los elementos unicos del array
a = np.array([1,1,1,1,2,2,2,2,3,3,3,3])
np.unique(a)

array([1, 2, 3])